

#avatares-equipo {
    margin:5%;
    display:flex;
    justify-content: space-around;
}

.usuario{
    width: 23%;
    display: flex;
    flex-direction: column;
}

.fondo-nombre{
    background-color: #90AACB;
    border-radius: 7px;
    height: 10%;
    margin-top: 15%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.nombre-usuario{
    font-size: 20px;
    color: white;
    margin: 0;
}